<?xml version="1.0"?>
<configuration>
  <connectionStrings>
  <add name="Quiz_DB" connectionString=
  "Data Source=localhost;Initial Catalog=QUIZ_DB;Integrated Security=SSPI"/>

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>